{{!< default}}

<div class="lane">
  <div>
    {{#get "pages" filter="tag:hash-home-intro" include="tags,authors" as |page|}}
      {{#page}}
      <div class="panel">
        <h1>{{title}}</h1>
        {{content}}
        {{#if feature_image}}
        <div>
          <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
        </div>
        {{/if}}
      </div>
      {{/page}}
    {{/get}}
  </div>
</div>

<div class="lane">
  <div class="split">

    {{#get "pages" filter="tag:hash-home-code" include="tags,authors" as |page|}}
      {{#page}}
        <div class="panel">
          <h2>{{title}}</h2>
          {{content}}
          {{#if feature_image}}
          <div>
            <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
          </div>
          {{/if}}
        </div>
      {{/page}}
    {{/get}}

    {{#get "pages" filter="tag:hash-home-write" include="tags,authors" as |page|}}
      {{#page}}
        <div class="panel">
          <h2>{{title}}</h2>
          {{content}}
          {{#if feature_image}}
          <div>
            <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
          </div>
          {{/if}}
        </div>
      {{/page}}
    {{/get}}

  </div>
</div>
