{{!< default}}

<div class="lane">
  <div>
    {{#get "pages" filter="tag:hash-home-intro" include="tags,authors" as |page|}}
      {{#page}}
      <div class="panel">
        <h1>{{title}}</h1>
        {{content}}
        {{#if feature_image}}
        <div>
          <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
        </div>
        {{/if}}
      </div>
      {{/page}}
    {{/get}}
  </div>
</div>

<div class="lane">
  <div class="split">

    <div class="code">
      {{#get "pages" filter="tag:hash-home-code" include="tags,authors" as |page|}}
      {{#page}}
      <div class="panel">
        <h2>{{title}}</h2>
        {{content}}
        {{#if feature_image}}
        <div>
          <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
        </div>
        {{/if}}
      </div>
      {{/page}}
      {{/get}}

      <div class="panel">
        <h2>Projects</h2>
        <div class="grid">
          {{#get "pages" filter="tag:project" limit="9" include="tags,authors" as |page|}}
          {{#page}}
          {{> card-project}}
          {{/page}}
          {{/get}}
        </div>
      </div>

      <div class="panel">
        <h2>Posts</h2>
        <div class="grid">
          {{#get "posts" filter="tag:code" limit="9" include="tags,authors" as |post|}}
          {{#post}}
          {{> card-code}}
          {{/post}}
          {{/get}}
        </div>
      </div>
    </div>

    <div class="write">
      {{#get "pages" filter="tag:hash-home-write" include="tags,authors" as |page|}}
      {{#page}}
      <div class="panel">
        <h2>{{title}}</h2>
        {{content}}
        {{#if feature_image}}
        <div>
          <img src="{{img_url feature_image}}" alt="{{title}}" class="feature-image" />
        </div>
        {{/if}}
      </div>
      {{/page}}
      {{/get}}

      <div class="panel">
        <h2>Posts</h2>
        <div class="grid">
          {{#get "posts" filter="tag:write" limit="9" include="tags,authors" as |post|}}
          {{#post}}
          {{> card-write}}
          {{/post}}
          {{/get}}
        </div>
      </div>
    </div>

  </div>
</div>
